body {
    margin: 0;
    padding: 0;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    text-shadow: 5px 5px 10px black;
    font-weight: bolder;
}

main {
    margin: 0;
    padding: 5%;
    font-size: 1.2em;
    font-family: Arial;
    color: #3333;
    font-weight: bolder;
    border: 1px solid salmon;
    box-shadow: 0px 0px 5px slateblue;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}